# Compiled Object files
*.slo
*.lo
*.o

#solution files
*.suo
*.sdf

#Temporary files
*.pdb
*.tlog
*.log
*.pch
*.idb
*.lastbuildstate
*.opensdf
ipch
Debug
Release

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
